ESP32CAM-jyrespidf-mqtt-streaming/for_node-red.json
[{"id":"cecc0024.394df","type":"mqtt in","z":"b0d6dbde.995458","name":"","topic":"ESP32_CAM_20/PICTURE","qos":"2","datatype":"auto","broker":"51ef61a3.a0b38","x":260,"y":1080,"wires":[["7d48d28.412832c","611bd08c.98d16"]]},{"id":"6d5b9417.d72a0c","type":"mqtt out","z":"b0d6dbde.995458","name":"","topic":"ESP32_CAM_20/TakeAPicture","qos":"","retain":"","broker":"51ef61a3.a0b38","x":790,"y":160,"wires":[]},{"id":"7aa2c1b2.ef65e","type":"mqtt out","z":"b0d6dbde.995458","name":"","topic":"ESP32_CAM_20/JSONConfig","qos":"","retain":"","broker":"51ef61a3.a0b38","x":790,"y":320,"wires":[]},{"id":"8952113d.cd4ce","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"V Flip","tooltip":"","group":"224b0f1a.2f47a","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"vflip\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"vflip\": 0}","offvalueType":"json","officon":"","offcolor":"","x":250,"y":280,"wires":[["7aa2c1b2.ef65e"]]},{"id":"78da3516.dc5e4c","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"H Mirror","tooltip":"","group":"224b0f1a.2f47a","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"hmirror\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"hmirror\": 0}","offvalueType":"json","officon":"","offcolor":"","x":260,"y":320,"wires":[["7aa2c1b2.ef65e"]]},{"id":"6781f52c.abd1bc","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"Colorbar","tooltip":"","group":"224b0f1a.2f47a","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"colorbar\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"colorbar\": 0}","offvalueType":"json","officon":"","offcolor":"","x":260,"y":360,"wires":[["7aa2c1b2.ef65e"]]},{"id":"8db0e726.48a068","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Quality","tooltip":"","group":"224b0f1a.2f47a","order":12,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"63","step":1,"x":260,"y":640,"wires":[["f97af626.9da728"]]},{"id":"f97af626.9da728","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"quality\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["7aa2c1b2.ef65e"]]},{"id":"64671a21.f5fbd4","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Brightness","tooltip":"","group":"224b0f1a.2f47a","order":9,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":270,"y":680,"wires":[["415dc5b9.3f708c"]]},{"id":"415dc5b9.3f708c","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["7aa2c1b2.ef65e"]]},{"id":"414726c9.ba9088","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Contrast","tooltip":"","group":"224b0f1a.2f47a","order":8,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":260,"y":720,"wires":[["b1ed016.fd482"]]},{"id":"b1ed016.fd482","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"contrast\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":720,"wires":[["7aa2c1b2.ef65e"]]},{"id":"fb49ed62.25333","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"Flash","tooltip":"","group":"224b0f1a.2f47a","order":15,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"flash\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"flash\": 0}","offvalueType":"json","officon":"","offcolor":"","x":250,"y":400,"wires":[["7aa2c1b2.ef65e"]]},{"id":"49146d73.3d3bb4","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Saturation","tooltip":"","group":"224b0f1a.2f47a","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":270,"y":760,"wires":[["3217c901.620886"]]},{"id":"3217c901.620886","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"saturation\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":760,"wires":[["7aa2c1b2.ef65e"]]},{"id":"e06a6736.f39328","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"AWB ","tooltip":"","group":"224b0f1a.2f47a","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"awb_gain\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"awb_gain\": 0}","offvalueType":"json","officon":"","offcolor":"","x":250,"y":440,"wires":[["7aa2c1b2.ef65e"]]},{"id":"5c1da91d.64bea8","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"WB mode","tooltip":"","group":"224b0f1a.2f47a","order":6,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":1,"x":260,"y":840,"wires":[["87a7f478.1920e8"]]},{"id":"87a7f478.1920e8","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"wb_mode\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["7aa2c1b2.ef65e"]]},{"id":"bbde1a1.03e47e8","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Gain","tooltip":"","group":"224b0f1a.2f47a","order":5,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"6","step":1,"x":250,"y":800,"wires":[["d460ecb1.211de"]]},{"id":"d460ecb1.211de","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"awb_gain\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":800,"wires":[["7aa2c1b2.ef65e"]]},{"id":"348ae3d7.7a774c","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Framesize","tooltip":"","group":"224b0f1a.2f47a","order":11,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"13","step":1,"x":270,"y":880,"wires":[["a0fa5a80.7f50d8"]]},{"id":"a0fa5a80.7f50d8","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"framesize\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":880,"wires":[["7aa2c1b2.ef65e"]]},{"id":"7d48d28.412832c","type":"base64","z":"b0d6dbde.995458","name":"","action":"","property":"payload","x":490,"y":1080,"wires":[["a9b7821d.8854d"]]},{"id":"a9b7821d.8854d","type":"ui_template","z":"b0d6dbde.995458","group":"52093b60.096bf4","name":"Image","order":1,"width":10,"height":8,"format":"<img height=\"100%\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":640,"y":1080,"wires":[[]]},{"id":"8ebb5842.214568","type":"ui_button","z":"b0d6dbde.995458","name":"","group":"224b0f1a.2f47a","order":20,"width":0,"height":0,"passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"TakeAPicture\": 1}","payloadType":"json","topic":"","x":260,"y":160,"wires":[["6d5b9417.d72a0c"]]},{"id":"50c45af0.4061c4","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Effect","tooltip":"","group":"224b0f1a.2f47a","order":7,"width":6,"height":1,"passthru":true,"outs":"end","topic":"special_effect","min":0,"max":"6","step":1,"x":250,"y":600,"wires":[["bde254c7.7c9028"]]},{"id":"bde254c7.7c9028","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"special_effect\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["7aa2c1b2.ef65e"]]},{"id":"5cf1bd64.529a24","type":"ui_switch","z":"b0d6dbde.995458","name":"","label":"Motion detection","tooltip":"","group":"224b0f1a.2f47a","order":13,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"motionDetection\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"motionDetection\": 0}","offvalueType":"json","officon":"","offcolor":"","x":280,"y":480,"wires":[["7aa2c1b2.ef65e"]]},{"id":"bc54dcba.d2362","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Motion threthold","tooltip":"","group":"224b0f1a.2f47a","order":16,"width":12,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":280,"y":520,"wires":[["551ae36c.2acaac"]]},{"id":"551ae36c.2acaac","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"motionThrethold\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":520,"wires":[["7aa2c1b2.ef65e"]]},{"id":"bbe838a5.90ff48","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"Motion nb photos","tooltip":"","group":"224b0f1a.2f47a","order":17,"width":12,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"20","step":1,"x":290,"y":560,"wires":[["9f0f0ce4.5c31e"]]},{"id":"9f0f0ce4.5c31e","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"motionNbPhoto\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":560,"wires":[["7aa2c1b2.ef65e"]]},{"id":"b85fbaa7.f28398","type":"comment","z":"b0d6dbde.995458","name":"ESP32_CAM_20","info":"","x":250,"y":100,"wires":[]},{"id":"e125a2b1.cb94e","type":"ui_slider","z":"b0d6dbde.995458","name":"","label":"192.168.1.","tooltip":"","group":"224b0f1a.2f47a","order":18,"width":9,"height":1,"passthru":true,"outs":"end","topic":"","min":"2","max":"253","step":1,"x":270,"y":920,"wires":[["4df15737.c1ac48"]]},{"id":"4df15737.c1ac48","type":"function","z":"b0d6dbde.995458","name":"","func":"msg.payload = {\"IP_number\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":920,"wires":[["7aa2c1b2.ef65e"]]},{"id":"1078581e.970a98","type":"ui_button","z":"b0d6dbde.995458","name":"","group":"224b0f1a.2f47a","order":19,"width":3,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"reboot\": 1}","payloadType":"json","topic":"","x":260,"y":240,"wires":[["7aa2c1b2.ef65e"]]},{"id":"51ef61a3.a0b38","type":"mqtt-broker","name":"mqtt_jyrvideotera","broker":"192.168.1.136","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"224b0f1a.2f47a","type":"ui_group","name":"Settings","tab":"6f11043f.36ff8c","order":1,"disp":true,"width":12,"collapse":false},{"id":"52093b60.096bf4","type":"ui_group","name":"Img","tab":"6f11043f.36ff8c","order":2,"disp":true,"width":10,"collapse":false},{"id":"6f11043f.36ff8c","type":"ui_tab","name":"ESP32_CAM_20","icon":"dashboard","order":2,"disabled":false,"hidden":false}]