ESP32CAM-jyrespidf-mqtt-streaming/for_node-red.json
[{"id":"28220e2b.4c3da2","type":"mqtt in","z":"7beb2388.b40cfc","name":"","topic":"ESP32_CAM_20/PICTURE","qos":"2","datatype":"auto","broker":"51ef61a3.a0b38","x":220,"y":1960,"wires":[["d197a2de.1df4b"]]},{"id":"aec9d983.98d238","type":"mqtt out","z":"7beb2388.b40cfc","name":"","topic":"ESP32_CAM_20/TakeAPicture","qos":"","retain":"","broker":"51ef61a3.a0b38","x":750,"y":1360,"wires":[]},{"id":"527b4bc9.a9ca04","type":"mqtt out","z":"7beb2388.b40cfc","name":"","topic":"ESP32_CAM_20/JSONConfig","qos":"","retain":"","broker":"51ef61a3.a0b38","x":750,"y":1440,"wires":[]},{"id":"1dc80580.51797b","type":"ui_switch","z":"7beb2388.b40cfc","name":"","label":"V Flip","tooltip":"","group":"224b0f1a.2f47a","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"vflip\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"vflip\": 0}","offvalueType":"json","officon":"","offcolor":"","x":270,"y":1410,"wires":[["527b4bc9.a9ca04"]]},{"id":"c4a1ac53.161fc","type":"ui_switch","z":"7beb2388.b40cfc","name":"","label":"H Mirror","tooltip":"","group":"224b0f1a.2f47a","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"hmirror\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"hmirror\": 0}","offvalueType":"json","officon":"","offcolor":"","x":280,"y":1450,"wires":[["527b4bc9.a9ca04"]]},{"id":"fbec9a45.0ed338","type":"ui_switch","z":"7beb2388.b40cfc","name":"","label":"Colorbar","tooltip":"","group":"224b0f1a.2f47a","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"colorbar\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"colorbar\": 0}","offvalueType":"json","officon":"","offcolor":"","x":280,"y":1490,"wires":[["527b4bc9.a9ca04"]]},{"id":"8494d79a.8987d8","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Quality","tooltip":"","group":"224b0f1a.2f47a","order":12,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"63","step":1,"x":270,"y":1570,"wires":[["e6841e55.f1655"]]},{"id":"e6841e55.f1655","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"quality\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1570,"wires":[["527b4bc9.a9ca04"]]},{"id":"4a913e51.b8fc1","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Brightness","tooltip":"","group":"224b0f1a.2f47a","order":9,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":290,"y":1610,"wires":[["d77c24f6.fb29a8"]]},{"id":"d77c24f6.fb29a8","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1610,"wires":[["527b4bc9.a9ca04"]]},{"id":"56df5d97.0d3484","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Contrast","tooltip":"","group":"224b0f1a.2f47a","order":10,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":280,"y":1690,"wires":[["9551202a.4ee1f"]]},{"id":"9551202a.4ee1f","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"contrast\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1690,"wires":[["527b4bc9.a9ca04"]]},{"id":"6b697f52.635c9","type":"ui_switch","z":"7beb2388.b40cfc","name":"","label":"Flash","tooltip":"","group":"224b0f1a.2f47a","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"flash\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"flash\": 0}","offvalueType":"json","officon":"","offcolor":"","x":270,"y":1650,"wires":[["527b4bc9.a9ca04"]]},{"id":"a8f0aaad.e824f8","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Saturation","tooltip":"","group":"224b0f1a.2f47a","order":13,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":290,"y":1730,"wires":[["dc904e3e.3763f"]]},{"id":"dc904e3e.3763f","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"saturation\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1730,"wires":[["527b4bc9.a9ca04"]]},{"id":"3f3fc297.7ef83e","type":"ui_switch","z":"7beb2388.b40cfc","name":"","label":"AWB ","tooltip":"","group":"224b0f1a.2f47a","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"awb_gain\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"awb_gain\": 0}","offvalueType":"json","officon":"","offcolor":"","x":270,"y":1770,"wires":[["527b4bc9.a9ca04"]]},{"id":"72743f24.45106","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"WB mode","tooltip":"","group":"224b0f1a.2f47a","order":7,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":1,"x":280,"y":1850,"wires":[["c676b81f.6e0448"]]},{"id":"c676b81f.6e0448","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"wb_mode\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1850,"wires":[["527b4bc9.a9ca04"]]},{"id":"b4aedc72.de873","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Gain","tooltip":"","group":"224b0f1a.2f47a","order":8,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"6","step":1,"x":270,"y":1810,"wires":[["f30d2b03.b7df28"]]},{"id":"f30d2b03.b7df28","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"gain\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1810,"wires":[["527b4bc9.a9ca04"]]},{"id":"a8bf7bde.909f08","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Framesize","tooltip":"","group":"224b0f1a.2f47a","order":11,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"13","step":1,"x":290,"y":1890,"wires":[["17df4099.c29c1f"]]},{"id":"17df4099.c29c1f","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"framesize\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1890,"wires":[["527b4bc9.a9ca04"]]},{"id":"d197a2de.1df4b","type":"base64","z":"7beb2388.b40cfc","name":"","action":"","property":"payload","x":450,"y":1960,"wires":[["2f405bd2.e274a4"]]},{"id":"2f405bd2.e274a4","type":"ui_template","z":"7beb2388.b40cfc","group":"52093b60.096bf4","name":"Image","order":1,"width":"10","height":"8","format":"<img height=\"100%\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":600,"y":1960,"wires":[[]]},{"id":"dd470a47.43d148","type":"ui_button","z":"7beb2388.b40cfc","name":"","group":"224b0f1a.2f47a","order":15,"width":0,"height":0,"passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"TakeAPicture\": 1}","payloadType":"json","topic":"","x":280,"y":1360,"wires":[["aec9d983.98d238"]]},{"id":"168a67d.49b7398","type":"ui_slider","z":"7beb2388.b40cfc","name":"","label":"Effect","tooltip":"","group":"224b0f1a.2f47a","order":4,"width":3,"height":1,"passthru":true,"outs":"end","topic":"special_effect","min":0,"max":"6","step":1,"x":270,"y":1530,"wires":[["48fb5b65.b538d4"]]},{"id":"48fb5b65.b538d4","type":"function","z":"7beb2388.b40cfc","name":"","func":"msg.payload = {\"special_effect\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1530,"wires":[["527b4bc9.a9ca04"]]},{"id":"51ef61a3.a0b38","type":"mqtt-broker","name":"mqtt_jyrvideotera","broker":"192.168.1.136","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"224b0f1a.2f47a","type":"ui_group","name":"Settings","tab":"6f11043f.36ff8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"52093b60.096bf4","type":"ui_group","name":"Img","tab":"6f11043f.36ff8c","order":2,"disp":true,"width":"10","collapse":false},{"id":"6f11043f.36ff8c","type":"ui_tab","name":"Cam","icon":"dashboard","order":3,"disabled":false,"hidden":false}]